.ivu-shrinkable-menu{
    height: 100%;
    width: 100%;
}
.drop-box{
    text-align: center;
    .downBtn{
        width: 70px;margin-left: -5px;padding:10px 0;
    }

    .icon-color{
        color: #fff;
    }
    .drop-menu{
        width: 200px;
        .drop-info{
            padding-left: 10px;
        }
    }
}